.b-sidebar {
  &.bg-grey {
    background: $grey;
    color: $light-aqua !important;
  }

  .b-sidebar-header {
    border-bottom: 2px solid $light-aqua;

    .close {
      border-radius: 50%;
      padding: 0.25rem;
      background: rgba(250, 243, 221, 0.6);
      transition: all 0.3s linear;
    }
  }

  li {
    list-style-type: none;
  }

  .nuxt-link-active {
    display: block;
    color: rgba(250, 243, 221, 0.6);
    font-weight: 600;
    border-radius: 0.8rem;
    margin: 0.65rem 1rem;
    padding: 0.25rem 1rem;
    transition: all 0.3s linear;
    
    &.active {
      color: $light-aqua;
    }

    &:hover {
      text-decoration: none;
      background: $light-aqua;
      color: $grey;
    }
  }
}